---
import Container from "@/src/components/Container.astro"
import DecorativeText from "@/src/components/DecorativeText.astro"
import HeadingText from "@/src/components/HeadingText.astro"
import Layout from "@/src/layouts/Layout.astro"

import leafIcon from "@/src/assets/leaf-1.svg?raw"
import leafIcon2 from "@/src/assets/leaf-2.svg?raw"
import { getOfferGroup, getOfferGroupsSlugs } from "@/src/data"

export async function getStaticPaths() {
  async function obtainOfferGroupsSlugs() {
    const slugs = await getOfferGroupsSlugs()

    type Slug = {
      slug: {
        current: string
      }
    }

    return slugs.map((slug: Slug) => {
      return {
        params: {
          slug: slug.slug.current,
        },
      }
    })
  }

  const slugs = await obtainOfferGroupsSlugs()

  return [...slugs]
}

const currentSlug = Astro.params.slug
const offerGroup = await getOfferGroup(currentSlug)
---

<Layout title={offerGroup.title} description={offerGroup.description}>
  <section class:list={["relative"]}>
    <Container>
      <div class:list={["h-[80vh]", "max-h-[750px]", "flex", "items-center"]}>
        <div class:list={["lg:w-4/5", "-mt-32"]}>
          <HeadingText as="h1" text={"Oferta"} />
          <DecorativeText text={"Nasza oferta"} />
        </div>
      </div>
    </Container>
    <div class:list={["absolute", "top-0", "w-full", "h-full", "-z-10"]}>
      <div
        class:list={["absolute", "-left-52", "lg:left-[unset]", "lg:right-72"]}
        set:html={leafIcon}
      />
      <div
        class:list={["hidden", "lg:block", "absolute", "-right-60"]}
        set:html={leafIcon2}
      />
    </div>
  </section>
</Layout>
