---
import { getBlogArticlesSlugs } from "@/src/data/get-blog-articles-slugs"
import Layout from "@/src/layouts/Layout.astro"

export async function getStaticPaths() {
  async function obtainBlogArticlesSlugs() {
    const slugs = await getBlogArticlesSlugs()

    type Slug = {
      slug: {
        current: string
      }
    }

    return slugs.map((slug: Slug) => {
      return {
        params: {
          slug: slug.slug.current,
        },
      }
    })
  }

  const slugs = await obtainBlogArticlesSlugs()

  return [...slugs]
}

const { slug } = Astro.params
---

<Layout title={slug}>
  <section>strona pojedynczego artykułu</section>
</Layout>
