---
import Container from "@/src/components/Container.astro"
import Date from "@/src/components/Date.astro"
import { getSingleBlogArticle } from "@/src/data"
import { getBlogArticlesSlugs } from "@/src/data/get-blog-articles-slugs"
import Layout from "@/src/layouts/Layout.astro"
import type { BlogArticleType } from "@/src/types"

export async function getStaticPaths() {
  async function obtainBlogArticlesSlugs() {
    const slugs = await getBlogArticlesSlugs()

    type Slug = {
      slug: {
        current: string
      }
    }

    return slugs.map((slug: Slug) => {
      return {
        params: {
          slug: slug.slug.current,
        },
      }
    })
  }

  const slugs = await obtainBlogArticlesSlugs()

  return [...slugs]
}

const { slug } = Astro.params
const { published } = (await getSingleBlogArticle(slug)) as BlogArticleType
---

<Layout title={slug}>
  <section>
    <Container>
      <Date published={published} />
    </Container>
  </section>
</Layout>
