---
import ArticleTeaser from "@/src/components/article/ArticleTeaser.astro"
import Container from "@/src/components/Container.astro"
import TripleGrid from "@/src/components/TripleGrid.astro"
import { getBlogPage } from "@/src/data"
import Layout from "@/src/layouts/Layout.astro"

const { blogArticles } = await getBlogPage()
---

<Layout title="Poradnia psychologiczno-pedagogiczna Vivo" description="">
  <section>
    <Container>
      {
        blogArticles && (
          <TripleGrid>
            {blogArticles.map((article) => (
              <ArticleTeaser data={article} />
            ))}
          </TripleGrid>
        )
      }
    </Container>
  </section>
</Layout>
