---
import Breadcrumbs from "@/src/components/Breadcrumbs.astro"
import { getTeamMember, getTeamMemberSlugs } from "@/src/data"
import type { TeamMemberType } from "@/src/data/get-team-member"
import Layout from "@/src/layouts/Layout.astro"

export async function getStaticPaths() {
  async function obtainTeamMemberSlugs() {
    const slugs = await getTeamMemberSlugs()

    type Slug = {
      slug: {
        current: string
      }
    }

    return slugs.map((slug: Slug) => {
      return {
        params: {
          slug: slug.slug.current,
        },
      }
    })
  }

  const slugs = await obtainTeamMemberSlugs()

  return [...slugs]
}

const { slug } = Astro.params
const path = Astro.url.pathname

const { name } = (await getTeamMember(slug)) as TeamMemberType
---

<Layout title="Home" description="">
  <Breadcrumbs path={path} />
  <h1>{name}</h1>
  <p>
    Astro is a new kind of static site builder that delivers lightning-fast
    performance with a modern developer experience.
  </p>
</Layout>
