@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply flex min-h-screen flex-col bg-light-50 font-sans text-body-copy font-light text-dark-500;
}

main {
  @apply flex-grow;
}

a {
  @apply hover:cursor-pointer;
}

.button {
  @apply inline-block rounded-md px-8 py-4 duration-200 hover:cursor-pointer md:px-11;
}

.button-primary {
  @apply bg-primary-700 text-light-50 hover:bg-primary-800;
}

.button-secondary {
  @apply bg-secondary-500 text-light-50 hover:bg-secondary-200;
}

.header {
  @apply w-full px-4;
}

.header::after {
  content: "";
  @apply absolute left-0 top-0 -z-10 h-full w-full opacity-0 shadow-md duration-300;
}

.header--scrolled {
  @apply py-0;
}

.header--scrolled::after {
  @apply opacity-100;
}

.header--scrolled .logo {
  @apply scale-75;
}
