@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply flex min-h-screen flex-col overflow-x-hidden bg-light-50 font-sans text-body-copy font-light text-dark-500;
}

main {
  @apply flex-grow;
}

a {
  @apply hover:cursor-pointer;
}

.button {
  @apply inline-block rounded-md px-8 py-4 duration-200 hover:cursor-pointer md:px-11;
}

.button-primary {
  @apply bg-primary-700 text-light-50 hover:bg-primary-800;
}

.button-secondary {
  @apply bg-secondary-500 text-light-50 hover:bg-secondary-200;
}

.header {
  @apply w-full px-4;
}

.header::after {
  content: "";
  @apply absolute left-0 top-0 -z-10 h-full w-full opacity-0 shadow-md duration-300;
}

.header--scrolled {
  @apply py-0;
}

.header--scrolled::after {
  @apply opacity-100;
}

.header--scrolled .logo {
  @apply scale-75;
}

.image-75 {
  position: relative;
}

.image-75 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-75::before {
  content: "";
  display: block;
  padding-top: 75%;
}

p.portable-text,
ul.portable-text {
  margin-bottom: 1rem;
}

p.portable-text strong,
ul.portable-text strong {
  font-weight: 700;
}

ul.portable-text {
  list-style-type: disc;
  list-style-position: inside;
}

h2.portable-text,
h3.portable-text {
  margin-bottom: 1em;
}

h2.portable-text {
  margin-bottom: 1em;
  font-size: var(--scale-double-pica);
}

h3.portable-text {
  font-size: var(--scale-great-primer);
}

p.portable-text + h3.portable-text {
  margin-top: 2em;
}

/* -------------- */
.value-tile-icon {
  @apply h-12 w-12 xl:h-20 xl:w-20;
}

.value-tile-icon svg {
  @apply fill-light-50;
}

.value-tile-icon path {
  @apply stroke-light-50;
}

/* -------------- */
.offer-tab::after {
  @apply absolute left-1/2 top-1/2 -z-10 block h-[calc(100%+2rem)] w-[calc(100%+2rem)] -translate-x-1/2 -translate-y-1/2 rounded-md opacity-0 shadow-custom-sm transition-all content-[''] group-hover:opacity-100 sm:h-full sm:w-full;
}
