@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  @apply overflow-x-hidden;
}

body {
  @apply flex min-h-screen flex-col overflow-x-hidden bg-light-50 font-sans text-body-copy font-light text-dark-800;
}

main {
  @apply flex-grow;
}

a {
  @apply hover:cursor-pointer;
}

.button {
  @apply inline-block rounded-md px-5 py-3 duration-200 hover:cursor-pointer sm:px-8 sm:py-4 md:px-11;
}

.button-primary {
  @apply bg-primary-700 text-light-50 hover:bg-primary-800;
}

.button-secondary {
  @apply bg-secondary-500 text-light-50 hover:bg-secondary-200;
}

.header {
  @apply w-full px-4;
}

.header::after {
  content: "";
  @apply absolute left-0 top-0 -z-10 h-full w-full opacity-0 shadow-md duration-300;
}

.header--scrolled {
  @apply py-0;
}

.header--scrolled::after {
  @apply opacity-100;
}

.header--scrolled .logo {
  @apply scale-75;
}

.image-125 {
  position: relative;
}

.image-125 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-125::before {
  content: "";
  display: block;
  padding-top: 125%;
}

.image-75 {
  position: relative;
}

.image-75 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-75::before {
  content: "";
  display: block;
  padding-top: 75%;
}

p.portable-text,
ul.portable-text {
  margin-bottom: 1rem;
}

p.portable-text strong,
ul.portable-text strong {
  font-weight: 700;
}

ul.portable-text {
  list-style-type: disc;
  list-style-position: inside;
}

h2.portable-text,
h3.portable-text {
  margin-bottom: 1em;
}

h2.portable-text {
  margin-bottom: 1em;
  font-size: var(--scale-double-pica);
}

h3.portable-text {
  font-size: var(--scale-great-primer);
}

p.portable-text + h3.portable-text {
  margin-top: 2em;
}

a.portable-text:hover {
  color: var(--color-secondary);
}

/* -------------- */
.value-tile-icon {
  @apply h-12 w-12 xl:h-20 xl:w-20;
}

.value-tile-icon svg {
  @apply fill-light-50;
}

.value-tile-icon path {
  @apply stroke-light-50;
}

/* -------------- */
.offer-tab::after {
  @apply absolute left-1/2 top-1/2 -z-10 block h-[calc(100%+2rem)] w-[calc(100%+2rem)] -translate-x-1/2 -translate-y-1/2 rounded-md opacity-0 shadow-custom-sm transition-all content-[''] group-hover:opacity-100 sm:h-full sm:w-full;
}

.tab__label {
  @apply border-t border-secondary-100 transition-all;
}

.tab {
  @apply transition-all;
}

.tab__content {
  @apply pb-4;
}

.tab:last-child .tab__label {
  @apply border-b;
}

.tab__label:hover {
  @apply border-transparent;
}

.tab:has(.tab__label:hover) .tab__label,
.tab:has(.tab__label:hover) + .tab .tab__label {
  @apply border-transparent;
}

/** this complicated selector allows to add hover effect for previous and next siblings */
.tab:has(.tab__label:hover) ~ .tab,
.tab:has(~ .tab .tab__label:hover) {
  @apply opacity-35;
}

.tab__content p,
.tab__content ul {
  margin: 0.5rem 0;
}

.tab__content h3 {
  @apply text-great-primer;
  margin-top: 1rem;
}

/*  */
.offer-tile {
  @apply relative border-t border-secondary-100 p-8 sm:border-l sm:border-t-0;
}

.offer-tile:last-child {
  @apply border-b sm:border-b-0 sm:border-r;
}

.offer-tile::after {
  @apply absolute left-1/2 top-1/2 -z-10 block h-[calc(100%+2rem)] w-[calc(100%+2rem)] -translate-x-1/2 -translate-y-1/2 rounded-md opacity-0 shadow-custom-sm transition-all content-[''] group-hover:opacity-100 sm:h-full sm:w-full;
}

.offer-tile:hover,
.offer-tile:hover + .offer-tile {
  @apply border-transparent;
}

.offer-tile:hover::after {
  @apply opacity-100;
}

.offer-tile:hover ~ .offer-tile,
.offer-tile:has(~ .offer-tile:hover) {
  @apply opacity-35;
}
