.menu {
  --bg-animation-duration: 0.3s;
  --bg-animation-delay: 0.1s;

  --item-animation-duration: 0.5s;
  --item-animation-delay-1: calc(var(--bg-animation-duration));
  --item-animation-delay-2: calc(var(--item-animation-delay-1) + 0.1s);
  --item-animation-delay-3: calc(var(--item-animation-delay-2) + 0.1s);
  --item-animation-delay-4: calc(var(--item-animation-delay-3) + 0.1s);
  --item-animation-delay-5: calc(var(--item-animation-delay-4) + 0.1s);
  --item-animation-delay-6: calc(var(--item-animation-delay-5) + 0.1s);

  transition-delay: 0.5s;
}

.menu > a,
.menu > span > a {
  opacity: 0;
  transform: translateY(1em);
}

.menu.is-visible > a,
.menu.is-visible > span > a {
  opacity: 1;
  transform: translateY(0);
  transition: all var(--item-animation-duration) ease-in-out;
}

.menu.is-visible > a:nth-child(1),
.menu.is-visible > span > a:nth-child(1) {
  transition-delay: var(--item-animation-delay-1);
}
.menu.is-visible > a:nth-child(2),
.menu.is-visible > span > a:nth-child(2) {
  transition-delay: var(--item-animation-delay-2);
}

.menu.is-visible > a:nth-child(3) {
  transition-delay: var(--item-animation-delay-3);
}

.menu.is-visible > a:nth-child(4) {
  transition-delay: var(--item-animation-delay-4);
}

.menu.is-visible > a:nth-child(5) {
  transition-delay: var(--item-animation-delay-5);
}

.menu.is-visible > a:nth-child(6) {
  transition-delay: var(--item-animation-delay-6);
}

.menu.is-visible {
  transform: translateX(0);
  transition-duration: 0s;
  transition-delay: 0s;
}

.menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity var(--bg-animation-duration);
}

.menu.is-visible::after {
  opacity: 1;
  transition-delay: var(--bg-animation-delay);
}

@media (min-width: 768px) {
  .menu > a {
    opacity: 1;
    transform: translateY(0);
  }
}
