.menu {
  --animation-delay: 0.3s;
  --menu-bg-animation-delay: 0.1s;
  --menu-items-animation-delay-1: calc(var(--menu-bg-animation-delay) + 0.2s);
  --menu-items-animation-delay-2: calc(
    var(--menu-items-animation-delay-1) + 0.1s
  );
  --menu-items-animation-delay-3: calc(
    var(--menu-items-animation-delay-2) + 0.1s
  );
  --menu-items-animation-delay-4: calc(
    var(--menu-items-animation-delay-3) + 0.1s
  );
  --menu-items-animation-delay-5: calc(
    var(--menu-items-animation-delay-4) + 0.1s
  );
  --menu-items-animation-delay-6: calc(
    var(--menu-items-animation-delay-5) + 0.1s
  );
  transition-delay: 0.5s;
}

.menu > a {
  opacity: 0;
  transform: translateY(1em);
}

.menu.is-visible > a {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.7s;
}

.menu.is-visible > a:nth-child(1) {
  transition-delay: var(--menu-items-animation-delay-1);
}
.menu.is-visible > a:nth-child(2) {
  transition-delay: var(--menu-items-animation-delay-2);
}

.menu.is-visible > a:nth-child(3) {
  transition-delay: var(--menu-items-animation-delay-3);
}

.menu.is-visible > a:nth-child(4) {
  transition-delay: var(--menu-items-animation-delay-4);
}

.menu.is-visible {
  transform: translateX(0);
  transition-duration: 0s;
  transition-delay: 0s;
}

.menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s;
}

.menu.is-visible::after {
  opacity: 1;
  transition-delay: var(--menu-bg-animation-delay);
}
