---
import Container from "@/src/components/Container.astro"
import DecoLeafs from "@/src/components/DecoLeafs.astro"
import Layout from "@/src/layouts/Layout.astro"
---

<Layout title="404" description="Strona o podanym adresie nie istnieje">
  <Container>
    <div class="relative">
      <DecoLeafs />
      <div
        class:list={[
          "flex",
          "flex-col",
          "items-center",
          "justify-center",
          "min-h-[800px]",
        ]}
      >
        <h1 class:list={["text-canon", "mb-4"]}>
          Strona o podanym adresie nie istnieje
        </h1>
        <a href="/" class:list={["button", "button-primary", "font-bold"]}
          >Wróć na stronę główną</a
        >
      </div>
    </div>
  </Container>
</Layout>
