---
import Header from "@/src/components/Header.astro"
import Layout from "../layouts/Layout.astro"
import Nav from "../components/Nav.astro"
---

<Layout title="Poradnia psychologiczno-pedagogiczna Vivo">
  <Header>
    <Nav />
  </Header>
  <main>main</main>
  <footer>footer</footer>
</Layout>
