---
import { getHomePage } from "@/src/data"

import Container from "@/src/components/Container.astro"
import DecorativeText from "@/src/components/DecorativeText.astro"
import HeadingText from "@/src/components/HeadingText.astro"
import Layout from "@/src/layouts/Layout.astro"

const data = await getHomePage()
---

<Layout title="Poradnia psychologiczno-pedagogiczna Vivo">
  <section>
    <Container>
      <div class:list={["py-36", "lg:py-60", "flex", "items-center"]}>
        <div class:list={["lg:w-4/5"]}>
          <HeadingText
            as="h1"
            size="great-primer"
            text={data.sectionHero.headline}
          />
          <DecorativeText size="canon" text={data.sectionHero.tagline} />
        </div>
      </div>
    </Container>
  </section>
</Layout>
