---
import { Icon } from "astro-icon/components"

const { path } = Astro.props
const segments = path.split("/").filter((segment: string) => segment !== "")
---

<ul
  class:list={[
    "flex",
    "items-center",
    "gap-2",
    "py-8",
    "animate-fade-in-on-load",
  ]}
>
  <li class="breadcrumb-item">
    <a href="/" class="breadcrumb-link">
      <div class:list={["flex", "gap-2", "items-center"]}>
        <Icon size={30} name="mdi:house" color={"var(--color-text-800)"} />
      </div>
    </a>
  </li>
  {
    segments.map((segment: string, index: number) => {
      if (index === segments.length - 1) {
        return <li class="line-clamp-1">{segment.split("-").join(" ")}</li>
      } else {
        return (
          <li class="breadcrumb-item">
            <a
              href={`/${segments.slice(0, index + 1).join("/")}`}
              class="breadcrumb-link"
            >
              {segment.split("-").join(" ")}
            </a>
          </li>
        )
      }
    })
  }
</ul>

<style>
  .breadcrumb-item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .breadcrumb-item::after {
    content: ">";
    color: var(--color-text-800);
  }

  .breadcrumb-link {
    color: var(--color-text-800);
  }

  .breadcrumb-link:hover {
    color: var(--color-primary);
  }
</style>
