---
const { href } = Astro.props
---

<a href={href} class:list={["group"]}>
  <span
    class:list={[
      "inline-block",
      "relative",
      "uppercase",
      "text-great-primer",
      "after:content-['']",
      "after:absolute",
      "after:bottom-[-5px]",
      "after:left-0",
      "after:w-full",
      "after:h-[2px]",
      "after:bg-secondary",
      "after:scale-x-0",
      "after:transition-transform",
      "after:duration-800",
      "group-hover:after:scale-x-100",
    ]}
  >
    <slot />
  </span>
</a>
