---
import CustomImage from "./CustomImage.astro"
import Link from "./Link.astro"

const { contact } = Astro.props
---

<nav
  class:list={[
    "flex",
    "justify-between",
    "items-center",
    "bg-light-50",
    "max-w-[1680px]",
    "mx-auto",
  ]}
>
  <a href="/" class:list={["logo", "duration-300", "mix-blend-multiply"]}>
    <CustomImage
      src="/src/assets/vivo-logo.jpg"
      alt="Vivo logo"
      wrapperClasses={["w-20", "md:w-32"]}
      width={300}
      height={300}
    />
  </a>
  <div
    class:list={[
      "flex-grow",
      "hidden",
      "md:flex",
      "px-20",
      "gap-4",
      "items-center",
    ]}
  >
    <Link href="/blog">
      <span
        class:list={[
          "inline-block",
          "relative",
          "uppercase",
          "text-great-primer",
          "after:content-['']",
          "after:absolute",
          "after:bottom-[-5px]",
          "after:left-0",
          "after:w-full",
          "after:h-[2px]",
          "after:bg-secondary",
          "after:scale-x-0",
          "after:transition-transform",
          "after:duration-800",
          "group-hover:after:scale-x-100",
        ]}
      >
        Blog
      </span>
    </Link>
  </div>
  <div>
    <a href={`tel:${contact}`} class:list={["button", "button-primary"]}
      >Umów wizytę</a
    >
  </div>
</nav>
