---
import type { ValueTeaser } from "@/src/data/get-home-page"

const { title, icon } = Astro.props as ValueTeaser
const htmString = `${icon}`

function toNormalCase(inputString: string) {
  return (
    inputString.charAt(0).toUpperCase() + inputString.slice(1).toLowerCase()
  )
}
---

<div
  class:list={[
    "relative",
    "bg-primary",
    "flex",
    "items-center",
    "justify-center",
    "after:content-['']",
    "after:w-full",
    "after:pt-[100%]",
  ]}
>
  <div
    class:list={[
      "flex",
      "flex-col",
      "justify-between",
      "absolute",
      "top-0",
      "left-0",
      "w-full",
      "h-full",
      "p-4",
    ]}
  >
    <div class:list={["value-tile-icon", "self-end"]} set:html={htmString} />
    <h2
      class:list={[
        "text-double-pica",
        "md:text-great-primer",
        "lg:text-body-copy",
        "xl:text-great-primer",
        "text-light-50",
        "text-balance",
      ]}
    >
      {toNormalCase(title)}
    </h2>
  </div>
</div>
