---
import type { ValueTeaser } from "@/src/data/get-home-page"

const { title, icon } = Astro.props as ValueTeaser
const htmlString = `${icon}`

function toNormalCase(inputString: string) {
  return (
    inputString.charAt(0).toUpperCase() + inputString.slice(1).toLowerCase()
  )
}
---

<div
  class:list={[
    "relative",
    "bg-secondary",
    "flex",
    "items-center",
    "justify-center",
    "after:content-['']",
    "after:w-full",
    "after:pt-[100%]",
    "rounded-md",
  ]}
>
  <div
    class:list={[
      "flex",
      "flex-col",
      "justify-center",
      "items-center",
      "gap-8",
      "absolute",
      "top-0",
      "left-0",
      "w-full",
      "h-full",
      "p-4",
    ]}
  >
    <div class:list={["value-tile-icon", "stroke-0"]} set:html={htmlString} />
    <h2
      class:list={[
        "text-double-pica",
        "md:text-great-primer",
        "lg:text-body-copy",
        "xl:text-paragon",
        "text-light-50",
        "text-balance",
        "text-center",
        "h-[2.5em]",
      ]}
    >
      {toNormalCase(title)}
    </h2>
  </div>
</div>
