---
import { Image } from "astro:assets"
import ValueTile from "./ValueTile.astro"
import { urlForImage } from "@/src/utils"
import type { HomePageData } from "@/src/types"

const { values, decoImage } = Astro.props
  .valuesData as HomePageData["sectionValues"]
---

<div class:list={["grid", "grid-cols-5", "gap-1", "mb-64"]}>
  {
    decoImage && (
      <div
        class:list={[
          "value-tile",
          "relative",
          "hidden",
          "md:block",
          "col-span-2",
        ]}
      >
        <Image
          src={urlForImage(decoImage.source)
            .width(900)
            .format("webp")
            .quality(80)
            .url()}
          alt={decoImage.alt}
          width={900}
          height={900}
          class:list={["rounded-md", "object-cover"]}
        />
      </div>
    )
  }
  <div
    class:list={[
      "col-span-5",
      "md:col-span-3",
      "grid",
      "grid-cols-2",
      "sm:grid-cols-3",
      "gap-1",
      "grid-rows-2",
      "p-1",
      "md:p-0",
    ]}
  >
    {Array.isArray(values) && values.map((value) => <ValueTile {...value} />)}
  </div>
</div>

<script>
  import { gsap } from "gsap"
  import { ScrollTrigger } from "gsap/ScrollTrigger"

  gsap.registerPlugin(ScrollTrigger)

  gsap.to(".value-tile", {
    scrollTrigger: {
      trigger: ".value-tile",
      start: "top 95%",
    },
    scale: 1,
    duration: 0.75,
    stagger: 0.3,
    ease: "power1.out",
    onStart: () => {
      gsap.to(".value-tile-content", {
        opacity: 1,
        duration: 0.2,
        stagger: 0.1,
        delay: 1.8
      })
    },
  })
</script>
