---
import { Image } from "astro:assets"
import type { HomePageData } from "../../data/get-home-page"
import ValueTile from "./ValueTile.astro"
import { urlForImage } from "@/src/utils"

const { values, decoImage } = Astro.props
  .valuesData as HomePageData["sectionValues"]
---

<div class:list={["grid", "grid-cols-5", "gap-1", "mb-64"]}>
  {
    decoImage && (
      <div class:list={["relative", "hidden", "sm:block", "col-span-2"]}>
        <Image
          src={urlForImage(decoImage.source)
            .width(900)
            .format("webp")
            .quality(80)
            .url()}
          alt={decoImage.alt}
          width={900}
          height={900}
          class:list={["rounded-md", "object-cover"]}
        />
      </div>
    )
  }
  <div
    class:list={[
      "col-span-5",
      "sm:col-span-3",
      "grid",
      "grid-cols-2",
      "sm:grid-cols-3",
      "gap-1",
      "grid-rows-2",
      "p-1",
      "md:p-0",
    ]}
  >
    {Array.isArray(values) && values.map((value) => <ValueTile {...value} />)}
  </div>
</div>
